:root {
  --sh-class: hsl(var(--primary));
  --sh-identifier: hsl(var(--foreground));
  --sh-sign: hsl(var(--muted));
  --sh-property: hsl(var(--primary));
  --sh-entity: hsl(var(--accent));
  --sh-jsxliterals: hsl(var(--secondary));
  --sh-string: hsl(var(--primary-foreground));
  --sh-keyword: hsl(var(--destructive));
  --sh-comment: hsl(var(--muted-foreground));
}
